/* ── HERO ── */
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  /* background: rgba(0,0,0,0.30); */
}

.hero-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 109%;
}

/* ── NAVBAR ── */
.navbar {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  background: rgba(151, 7, 71, 1);
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: 'poppins', sans-serif;
}

/* ── HERO CONTENT ── */
.hero-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  position: relative;
  z-index: 1;
  width: 65%;
}

.hero-card {
  /* background: rgba(110, 110, 110, 0.2); */
  /* backdrop-filter: blur(4px); */
  border-radius: 24px;
  padding: 25px 10px;
  text-align: center;
  width: 60%;
}

.hero-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 500;
  color: #970747;
  margin-bottom: 16px;
  font-family: 'poppins', sans-serif;
  line-height: 1.2;
}

.hero-title span {
  color: #970747;
}

.hero-sub {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 36px;
  line-height: 1.7;
  font-family: 'Segoe UI', sans-serif;
}

.hero-btns {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-primary {
  background: #7b2d52;
  color: white;
  border: none;
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.2s;
}

.btn-primary:hover {
  background: #9b3d62;
  transform: translateY(-2px);
}

.btn-secondary {
  background: white;
  color: #2d2d2d;
  border: none;
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.2s;
}

.btn-secondary:hover {
  background: #f0f0f0;
  transform: translateY(-2px);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-btn {
  background: #ffffff;
  color: #970747;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.2s;
}

.nav-btn:hover {
  background: #970747;
  color: #ffffff
}

.nav-btn.outline {
  background: transparent;
  border: 1.5px solid #ffffff;
  color: #7b2d52;
}

.nav-btn.outline:hover {
  background: #970747;
  color: #ffffff;
}

.nav-user {
  font-size: 0.85rem;
  color: #2d2d2d;
}