<div class="hero">

  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="logo">PlanToEvent</div>

    <div class="nav-actions">
      <button class="nav-btn outline" (click)="goToLogin()">Login</button>
    </div>
  </nav>

  <div class="content">

    <div class="hero-wrapper">

      <!-- TEXT -->
      <div class="text-section">
        <div class="heading">
          Plan <span class="subheading"> your </span> Event <br />
          <span class="subheading">effortlessly</span>
        </div>

        <p>
          Find and manage event vendors with ease. <br />
          Make planning your special day simple and stress-free.
        </p>

        <button class="cta-btn" (click)="planEvent()">Lets Plan</button>
      </div>

      <!-- IMAGE -->
      <div class="image-section">
        <img src="../../../assets/images/landing-img-icons.jpg" />
      </div>

    </div>

  </div>
</div>

<app-categories></app-categories>